<a href="https://colab.research.google.com/github/jongseokyoo/aipython/blob/main/24_01_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program 2-6

In [ ]:
#하나의 변수를 활용하는 코드입니다.
lab = 105
print("우리가 수업하는 실습실:")
print(lab)

우리가 수업하는 실습실:
105

Program 2-7

In [ ]:
#하나의 변수를 활용하는 코드입니다.
lab = 105
print("우리가 수업하는 실습실:",lab)

우리가 수업하는 실습실: 105

Program 2-8

In [ ]:
#변수 두 개를 생성하고 값을 할당
my_id = 202024143
grade = 3

#두 개의 변수에 할당된 값을 출력
print("나의 학번:")
print(my_id)
print("학년:")
print(grade)

나의 학번:
202024143
학년:
3

Program 2-9

In [ ]:
#변수에 값을 할당하고 출력하는 예제입니다.
#dollars 변수에 값을 할당해봅시다.
dollars = 2.75
print("I have", dollars, "in my account")

#dollars 변수에 새로운 값을 할당해봅시다.
dollars = 99.95
print("But now I have", dollars, "in my account")

I have 2.75 in my account
But now I have 99.95 in my account

Program 2-10

In [ ]:
#두 개의 변수를 생성하고 문자열을 할당합니다.
department = "전기공학과"
name = "유종석"

#각 변수에 할당된 문자열 값을 출력해보자.
print(department,name)

전기공학과 유종석

Program 2-11

In [ ]:
#학과명을 입력받습니다.
department = input("학과명:")

#여러분의 이름을 입력받습니다.
name = input("성명:")

#두 변수의 값을 출력합니다.
print("안녕하세요.", department, name,"입니다.")

학과명:전기공학과
성명:유종석
안녕하세요. 전기공학과 유종석 입니다.

Program 2-12

In [ ]:
#여러분의 이름, 나이, 통학시간 정보를 입력받습니다.
name = input("당신의 이름은 무엇입니까?")
age = int(input("나이는 어떻게 되시나요?"))
attending_time = float(input("통학시간은 몇 분정도 걸립니까?"))

#변수에 입력된 데이터를 출력해봅시다.
print("입력 정보는 다음과 같습니다.")
print("이름:", name)
print("나이:", age)
print("통학시간:", attending_time)

당신의 이름은 무엇입니까?유종석
나이는 어떻게 되시나요?25
통학시간은 몇 분정도 걸립니까?5
입력 정보는 다음과 같습니다.
이름: 유종석
나이: 25
통학시간: 5.0

Program 2-13

In [ ]:
#salary 변수에 급여를 할당합니다.
salary = 2500.0

#bonus 변수에 보너스를 할당합니다.
bonus = 1200.0

#급여와 보너스를 더하여 총 급여를 구해봅시다.
#총 급여를 pay 변수에 할당합니다.
pay = salary + bonus

#총 급여를 출력합니다.
print("총 급여:", pay)

총 급여: 3700.0

Program 2-14

In [ ]:
#본 예제에서는 원가에 할인율을 적용하여 할인가격을 계산해보자.

#original_price 변수에 원가를 입력받는다.
original_price = float(input("제품의 원가를 입력해주세요:"))

#원가에 할인율 20%를 적용하여 할인가를 계산하여 discount 변수에 할당한다.
discount = original_price * 0.2
sale_price = original_price - discount
print("할인가격", sale_price)

제품의 원가를 입력해주세요:1000
할인가격 800.0

Program 2-15

In [ ]:
test1 = float(input("첫 번째 과목 점수를 입력해주세요."))
test2 = float(input("두 번째 과목 점수를 입력해주세요."))
test3 = float(input("세 번째 과목 점수를 입력해주세요."))

average = (test1 + test2 + test3) / 3.0

print("3 과목의 평균 점수:",average)

첫 번째 과목 점수를 입력해주세요.1
두 번째 과목 점수를 입력해주세요.2
세 번째 과목 점수를 입력해주세요.3
3 과목의 평균 점수: 2.0

Program 2-16

In [ ]:
total_seconds = float(input("시간 값을 초 단위로 입력해주세요:"))
hours = total_seconds // 3600
minutes = (total_seconds // 60) % 60
seconds = total_seconds % 60

print("시 분 초는 다음과 같습니다.")
print("시:", hours)
print("분:", minutes)
print("초:", seconds)

시간 값을 초 단위로 입력해주세요:1000
시 분 초는 다음과 같습니다.
시: 0.0
분: 16.0
초: 40.0

Program 2-17

In [ ]:
future_value = float(input('목표 금액을 입력해주세요: '))
rate = float(input('연간 이율을 입력해주세요: '))
years = int(input('저축 기간을 연 단위로 입력해주세요: '))
present_value = future_value / (1.0 + rate)**years
print('적립 금액: ', present_value)

목표 금액을 입력해주세요: 10000
연간 이율을 입력해주세요: 5
저축 기간을 연 단위로 입력해주세요: 5
적립 금액:  1.286008230452675

Program 2-18

In [ ]:
print('a','b','c')
print('a','b','c',sep='')
print('a','b','c',sep='***')

a b c
abc
a***b***c

Program 2-19

In [ ]:
print('a')
print('b')
print('c', end='')
print('d', end='')
print('e', end='***')
print('f')

a
b
cde***f

Program 2-20

In [ ]:
amount_due = 5000.0
monthly_payment = amount_due / 12.0
print('월급여: ', monthly_payment)

월급여:  416.6666666666667

Program 2-21

In [ ]:
amount_due = 5000.0
monthly_payment = amount_due / 12
print('월급여: ', format(monthly_payment, '.2f'))

Program 2-22

In [ ]:
monthly_pay = 5000.0
annual_pay = monthly_pay * 12
print('Your annual pay is $', format(annual_pay, ',.2f'), sep='')

Program 2-23

In [ ]:
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999

print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))